@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
    color: #fff;
}

#cursor{

height: 25px;
width: 25px;
background-color: #95c11e;
border-radius: 50%;
position: fixed;
z-index: 99;

}

#cursor-blur{
    height: 300px;
    width: 300px;
    background-color: #72863a;
    border-radius: 50%;
    position: fixed;
    filter: blur(70px);
    z-index: 9;
}


#nav{
    /* background-color: red; */
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 100px;
    gap: 30px;
    position: fixed;
    z-index: 999;

}
#nav img{
    height: 4.5vw;
    
}

#nav h4{
    font-size: 1.15vw;
    cursor: pointer;
    font-weight: 500;

}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    background-color: rgba(0, 0, 0, 0.37);
    position: relative;
    
    
}

#page1{
    width: 100%;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

#page1 h1{
    font-size: 7vw;
    position: relative;
}

#page1 h2{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 p{
    font-size: 1.2vw;
    font-weight: 500;
    width: 40%;

}
#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: #000;
    top: -5px;
    left: -5px;
    -webkit-text-stroke: 1.5px #95c11e;
    z-index: -1;
}

#page2{
    height: 100vh;
    width: 100%;
    z-index: 10;
}
#scroller{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

#scroller::-webkit-scrollbar {

    display: none;
}
#scroller-in {
    white-space: nowrap;
    display: inline-block;
    animation-name: scroll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

#scroller h4{
font-size: 100px;
font-weight: 900;
display: inline-block;
margin-right: 20px;
font-family: 'Roboto', sans-serif;
color: #000;
transition: all linear 0.3s;
-webkit-text-stroke: 2px #ffffff;
}

#scroller h4:hover{
    color: #95c11e;
    -webkit-text-stroke: 2px #95c11e;
}

@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
